
.printOnly {display:none;}
#print-button {
  padding: 16px 20px 15px 11px;
  width: 170px;
  background-color: #dee0e2;
  border: 1px solid #dee0e2;
  display: block;
  background-position: 6%;
  text-align: right;
}

#cover-sheet-div {
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
}

#print-header {
  height: 150px;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#print-header  h1{
  margin-top: 0px;
}

#print-header  div{
  float: left;
  width: 50%;
}

#print-header  div h1{
  width: 100%;
}

#print-table-main{
  margin-bottom: 10px;
  table-layout: fixed;
  border-bottom: 3px solid black;
}

#print-table-main th,#print-table-main td {
  padding-left: 5px!important;
  border: none;
}

#print-table-main thead{
  text-align: left;

}

#print-table-main .cover-sheet-section-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0;
}

#bold-details td{
  font-weight: bolder;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.print-table-secondary,.print-table-documents{
  width: 100%;
}
.print-table-secondary th,.print-table-secondary td {
  padding-top: 5px!important;
  padding-left: 5px!important;
  padding-bottom: 0px!important;
  border: none;
  vertical-align: top;
}
.print-table-secondary .cover-sheet-content {
  margin-bottom: 0;
}

.print-table-secondary .cover-sheet-section-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0;
}

.print-table-secondary .cover-sheet-title {
  font-weight: bold;
  margin-bottom: 0;
}

.print-table-documents th,.print-table-documents td {
  padding-top: 5px!important;
  padding-left: 5px!important;
  padding-bottom: 0px!important;
  border: none;
  width: 22%;
  vertical-align: top;
}
.detail-label td{
  font-weight: bolder;
  padding-top: 10px!important;
}
.table-caption{
  padding:10px 0px;
  border-bottom: 3px solid black;
}
#table-caption-doc{
  border-bottom: 3px solid black;
}

@media (max-width: 600px) {
  /*submission successful page*/
  .heading-large.confirmed {
    margin-top: 25px;
  }

  /* fix fco logo / title on printable page*/
  img#fco-logo-new {
    margin-top: 0;
    width: 200px;
    height: auto;
    text-align: left;
    float: left;
    display: block;
    margin: 0 auto;
  }
  #print-header {
    height: 50px;
    margin-top: 25px;
  }
  #print-header .heading-large {
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }
}

@media(min-width:1000px) {
  .hide-lg {
    border: none;
    padding: 0;
    margin: 0;
    text-indent: -10000em;
    height: 0;
    width: 0;
    display: block;
  }
}
@media (min-width: 671px) and (max-width: 1000px) {
  .hide-md {
    border: none;
    padding: 0;
    margin: 0;
    text-indent: -10000em;
    height: 0;
    width: 0;
    display: block;
  }
}
@media(max-width: 670px) {
  .hide-sm {
    border: none;
    padding: 0;
    margin: 0;
    text-indent: -10000em;
    height: 0;
    width: 0;
    display: block;
  }
}

@media (min-width: 600px) {
  #print-header .heading-large {
    float: left; width:40%;
    margin-top: 25px;
  }

}

#print-button:hover {
  border:1px solid black;

}
.printable-summary{
  margin-bottom: 0px;
  float: left;
  clear: left;
  margin-top: 0;
  @media (max-width:600px) {
    margin-top: 20px;
  }
}
.printable-summary .summary-table  {
  //display:none;
  width: 100%;
}
.summary-print-table{
  width: 66.6%;
  float: left;
}
.summary-print-table td {
  border:none;
}
.summary-print-table .summary-table{
  width: 100%;
}
.summary-print-table .summary-table td{
  border-top:1px solid #BFC1C3;
  border-bottom:1px solid #BFC1C3;
}

.qrCode img{
  height: 100px;
  width: 100px;
}

#print-footer{
  width: 100%;
  margin-top: -19px;
}
.printable-summary .summary-table-cell-label{
  width: 40%;
}
.printable-summary .summary-table-cell-content{
  width: 60%;
}

.printable-summary  h2 {
  margin-top: 5px!important;
}

tr.cover-sheet-email td, tr.cover-sheet-telephone td {
  padding-bottom: 5px!important;
}

@media print {

  body {transform: scale(.95);}

  .phase-banner {display: none;}
  .printer-summary-buttons {display: none;}

  .noPrint {display:none!important;}
  .printOnly {display:block;}
  .printable-summary {display:block;}

  #cover-sheet-div{
    border: none;
  }

  #print-header .heading-large {
    float: left;
    width:50%;
    margin-top: 20px;
  }

  #business-batch-number {
    font-size: 0.9em;
  }

  img#fco-logo-new {
    margin-top: 0;
    width: 150px;
    height: auto;
    text-align: left;
    float: left;
    display: block;
    margin: 0 auto;
  }

  .qrCode img{
    height: 70px;
    width: 70px;
  }
}

@media print {
  a[href^="/"]:after {
    content: " (https://www.get-document-legalised.service.gov.uk" attr(href) ")"!important;
    font-size: 90%;
  }
  .div-dashboard {
    .inner_header {
      display: none;
    }

    #start, #dashboard-search-table-form input.submit {
      display: none;
    }
    #previousApplications {
      width: 100%;
      table-layout: fixed;

      th:first-child a {
        white-space: inherit;
      }
      td, th{
        display: none;
      }
      thead{

        a{
          color: black;
        }
        a[href^="/"]:after {
          display: none;
        }
        th:nth-child(1), th:nth-child(2), th:nth-child(5), th:nth-child(6), th:nth-child(7) {
          display: table-cell!important;
          width:22%
        }
        th:nth-child(1){
          width: 10%
        }
      }

      tr {
        width : 100%;
        td:nth-child(1), td:nth-child(2), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
          display: table-cell!important;
          width:22%

        }
        td:nth-child(1){
          width: 10%
        }
      }
    }
  }

  html {
    background-color: white!important;
  }

}
